body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.clock{
  display: flex;
}
.divider{
  font-size: 66px;
  font-style: normal;
  line-height: 102px;
  color: rgb(51, 50, 50);
}
.flip{
  width: 60px;
  height: 100px;
  margin: 2px;
  font-size: 70px;
  font-weight: 700;
  line-height: 100px;
  text-align: center;
  background: rgb(46, 45, 45);
  border: 1px solid rgb(34, 33, 33);
  border-radius: 10px;
  box-shadow: 0 0 6px rgba(54, 54, 54, 0.5);
  position: relative;
}
.flip .digital::before, 
.flip .digital::after {
  content: attr(data-number);
  position: absolute;
  left: 0;
  right: 0;
  color: #fff;
  background: rgb(51, 50, 50);
  overflow: hidden;
  -webkit-perspective: 160px;
  perspective: 160px;
}

.flip .digital::before{
  top: 0;
  bottom: 50%;
  border-bottom: 1px solid #666;
  border-radius: 10px 10px 0 0;
}
.flip .digital::after{
  top: 50%;
  bottom: 0;
  line-height: 0;
  border-radius: 0 0 10px 10px;
}

.flip .back::before,
.flip .front::after{
  z-index: 1;
}

.flip .back::after{
  z-index: 2;
}

.flip .front::before{
  z-index: 3;
}


.flip .back::after{
  transform-origin: center top;
  transform: rotateX(0.5turn);
}

.flip.running .front::before{
  transform-origin: center bottom;
  animation: frontFlipDown 0.6s ease-in-out;
  box-shadow: 0 -2px 6px rgba(255, 255, 255, 0.3);
  backface-visibility: hidden;
}

@keyframes frontFlipDown {
  to {
    transform: rotateX(0.5turn);
  }
}

.flip.running .back::after{
  animation:  backFlipDown 0.6s ease-in-out;
}

@keyframes backFlipDown {
  to{
    transform: rotateX(0);
  }
}